{% extends "layout.html" %}
{% block content %}
  <div class="atonement">
    <h2>An Overview of Terms Related to the Atonement in the Standard Works</h2>
    <img src="static/visuals/atonement-v.jpg">
    <img src="static/visuals/save-v.jpg">
    <img src="static/visuals/love-v.jpg">
    <img src="static/visuals/mercy-v.jpg">
    <img src="static/visuals/justice-v.jpg">
    <img src="static/visuals/redeem-v.jpg">
    <img src="static/visuals/charity-v.jpg">
    <img src="static/visuals/sanctify-v.jpg">
  </div>
{% endblock %}