{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h2>An Overview of Gospel Mentions in the Standard Works</h2>
    <img src="static/visuals/faith-v.jpg">
    <img src="static/visuals/repentance-v.jpg">
    <img src="static/visuals/baptism-v.jpg">
    <img src="static/visuals/ghost-v.jpg">
    <img src="static/visuals/spirit-v.jpg">
    <img src="static/visuals/endure-v.jpg">
    <img src="static/visuals/charity-v.jpg">
    <img src="static/visuals/salvation-v.jpg">
    <img src="static/visuals/eternal-v.jpg">
    <img src="static/visuals/life-v.jpg">
  </div>
{% endblock %}