<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Scripture Word Count Comparison</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('atonement') }}">Atonement</a></li>
            <li><a href="{{ url_for('titles') }}">Godly Titles</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <h2>Enter The Word You Would Like To Search Below</h2>

    {% from "_formhelpers.html" import render_field %}
    <form method=post>
        <dl>
            {{ render_field(form.select) }}
            <p>
            {{ render_field(form.search) }}
        </dl>
        <p><input type=submit value=Search>
    </form>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>