<!DOCTYPE html>
<html>
    <body>
        <a href="templates/index.html">Home</a>
        <a href="templates/search.html">Search</a>
        <h1>Enter The Word You Would Like To Search Below</h1>

        {% from "_formhelpers.html" import render_field %}
        <form method=post>
            <dl>
                {{ render_field(form.select) }}
                <p>
                {{ render_field(form.search) }}
            </dl>
            <p><input type=submit value=Search>
        </form>

        <h1>Search Result</h1>
        <img src="{{ result_graph }}" alt="Result Graph for User Search">
    </body>
</html>