{% extends "layout.html" %}
{% block content %}
  <div class="titles">
    <h2>An Overview of Gospel Mentions in the Standard Works</h2>
    <img src="static/visuals/jesus-v.jpg">
    <img src="static/visuals/christ-v.jpg">
    <img src="static/visuals/god-v.jpg">
    <img src="static/visuals/jehovah-v.jpg">
    <img src="static/visuals/lord-v.jpg">
    <img src="static/visuals/almighty-v.jpg">
    <img src="static/visuals/son-v.jpg">
    <img src="static/visuals/father-v.jpg">
  </div>
{% endblock %}